        <header>
            <nav>
                <ul>
                    <li>
                        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
                    </li>
                    <% if (isAuthenticated) { %>
                        <li>
                            <a class="<%= path === '/album' ? 'active' : '' %>" href="/album">Album</a>
                        </li>
                        <li>
                            <a class="<%= path === '/upload' ? 'active' : '/upload' %>" href="/upload">Upload</a>
                        </li>
                    <% } %>
                    <% if (!isAuthenticated) { %>
                        <li class="mobile-nav__item">
                            <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                        </li>
                        <li class="mobile-nav__item">
                            <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                        </li>
                    <% } else { %>
                        <li class="mobile-nav__item">
                            <form action="/logout" method="post">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit">Logout</button>
                            </form>
                        </li>
                    <% } %>
                </ul>
            </nav>
            <h1><%= pageTitle %> - Photo Album Application</h1>
        </header>