<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>
        <section>
            <h2>Delete <%= image.name %>?</h2>
            <p class="photo-item">
                Are you sure you want to delete this photo?
            </p>
            <form action="/delete-photo" method="POST">
                <input type="hidden" name="id" value="<%= image.id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit">Yes</button>
            </form>
            <form action="/album" method="GET">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit">No</button>
            </form>
        </section>

<%- include('../includes/end.ejs') %>