<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>
        <section>
            <h2>Photos</h2>
            <% if(items.length < 1){ %>
            <p>
                You have no photos in your album. Click on the upload
                link above to add a photo to your album.
            </p>
            <% } %>
            <div class="photo-list">
                <% items.forEach(function(image) { %>
                <div class="photo-items">
                    <h3><%= image.name %></h3>
                    <img src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>" alt="<%= image.name %>">
                    <a href="/view-photo/<%= image.id %>">View Photo</a>
                </div>
                <% }) %>
            </div>
        </section>

<%- include('../includes/end.ejs') %>