<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>
        <section>
            <h2><%= image.name %></h2>
            <div class="photo-item">
                <p>Date Uploaded: <%= image.date %></p>
                <img src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>" alt="<%= image.name %>">
                <a href="/download-photo/<%= image.id %>" download>Download Photo</a> | <a href="/delete-photo/<%= image.id %>">Delete Photo</a>
            </div>
        </section>

<%- include('../includes/end.ejs') %>